.btns { display: flex;
        flex-direction: row; }

.neutral { margin-left: 10px;
           margin-right: 10px; }    
           
#no_feedback { font-size: 18px; 
               font-weight: bold;
               color: red;}                   
